Options FollowSymLinks
RewriteEngine on
RewriteRule ^rubrique-([0-9]+)-([[a-z\-]+).html$ /samsub/index.php?domaine=rubrique&service=affiche&rubriqueid=$1
RewriteRule ^index.html$ /samsub/index.php
RewriteRule ^administration.html$ /samsub/index.php?domaine=technique&service=login
RewriteRule ^contacts.html$ /samsub/index.php?domaine=mail&service=contact
RewriteRule ^news.html$ /samsub/index.php?domaine=news&service=affiche
RewriteRule ^diaporama.html$ /samsub/index.php?domaine=diaporama&service=affiche