
@couleur_fond:#EEEEEE;
@taille_police:10pt;

/**************************************************************************/
/* balise html
/**************************************************************************/

body {
	width:100%;
	margin-right: auto;
	margin-left: auto;
	/*font-size: 12px;*/
	background-image: url("../images/Bulles-dair.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family: verdana, geneva, sans-serif;
	font-size: @taille_police;
}

h2 {
	font-size: 14pt;
	font-weight: bold;
}

h3 {
	font-size: 24pt;
	font-weight: bold;
	text-align:center;
}

p {
	font-size: @taille_police;
	line-height: 20px;
	text-align: justify;
}

li {
	font-size: @taille_police;
	line-height: 20px;
	text-align: justify;
}

/**************************************************************************/
/* balise bootstrap
/**************************************************************************/


.container {
	background-color: @couleur_fond;
	/*border-radius: 5px;*/
	/*margin-top: 15px;*/
	/*margin-bottom: 15px;*/
}

.navbar-default .navbar-nav > li > a {
	color:#000000;
}


/**************************************************************************/
/* balise personnalisée
/**************************************************************************/


.cadre_bord_rond {
	border-radius: 5px;
	background-color:@couleur_fond;
	padding-right: 5px;
	padding-left: 5px;
}

.mini-submenu{
  display:none;
  /*background-color: rgba(0, 0, 0, 0);*/
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.colonne_droite {
	margin-left: 15px;
	border-radius: 4px;
	border: 1px solid;
	border-color: #e7e7e7;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
	background-color: #FFFFFF;
}

.list-lien {
  color: #000000;
}

.list-group-item {
	/*background-color: #EEEEEE;*/
	color:#000000;
}


.img_samsub{
    position: relative;
    top: 25%;
    transform: translateY(25%);
}

.popup_admin {
	background-color: #E7E7E7;
}

#banniere_centre {
	/*background-image: url("../images/10109161-cabane-tchanquee-pqpak-fotoliacom.jpg");*/
	background-image: url("../images/banniere.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

/**************************************************************************/
/* balises news
/**************************************************************************/
.titre_news {
	text-decoration: none;
	clear: both;
	color: rgb(36,64,97);
	font-size: 26px;
	font-weight: bold;
	line-height: 0.8em;
	padding-bottom: .3em;
	border-bottom-style: solid;
	/*border-color: black;*/
	border-bottom-color: black;
	border-bottom-width: 3px;
	border-bottom-color: rgb(36,64,97);
	margin-bottom: 1%;
}

.conteneur_news {
	margin-left:20px;
}

.contenu_news {
	margin-top:5px;
	margin-bottom:5px;
	border-width:1px;
	border-bottom-style: dashed;
	border-bottom-color: black;
}
